@charset "UTF-8";

/* Configurações de estilos para aparelhos de desktop */


*{
    padding: 0px;
    margin: 0px;
}  

body{
    font-family: Arial, Helvetica, sans-serif;
}

.imagem{
    position: absolute;
    left: 88%;
    top: 15%;
    width: 40%;
    height: 100%;   

    transform: translate(-70%, -20%);
}

header{
    margin: 10px
}

header > h1{
    text-align: center;
    font-size: 18pt;
    padding: 10px 0px 15px 0px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
}

header h2{
    text-align: center;
    font-size: 11pt;
    text-indent: 2em;
    padding-bottom: 20px;
    line-height: 1.5em;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.342);
}

main{
    width: 1100px;
    height: 400px;
    border-radius: 15px;
    color: rgb(61, 60, 42);

    padding: 0px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.384);

    transition: width .4s, height .4s;
    transition-timing-function: ease;
}

.content{
    width: 60%;
}

main > .content form label{
    margin: 10px;
    user-select: none;
}

main > .content form #isenha, 
main > .content form #iemail{
    width: 85%;
    height: 35px;
    border-radius: 10px;
    border: 0px solid rgba(0, 0, 0, 0.863);
    outline: none;
    padding-left: 4px;
    margin: 5px 0 5px 0;
    background-color: transparent;
}

main > .content button{
    width: 95%;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(255, 208, 0, 0.897);
    color: white;
    font-size: 11pt;
    font-weight: bold;
    border: 0px solid black;
    margin: 20px 10px 5px 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 20px 3px rgb(237, 210, 10);
    transition: .4s;
}

main .link{
    display: grid;
    place-items: center;
    width: max-content;
    text-decoration: none;
    font-weight: bolder;
    font-size: small;
    margin: 10px auto;
    color:rgb(157, 63, 245)
}

main .link:hover{
    text-decoration: underline;
}

main > .content button:hover{
    cursor: pointer;
    background-color: rgb(255, 209, 3);
    box-shadow: 0px 0px 20px 10px rgb(255, 208, 0);
}

hr{
    width: 0%;
    position: absolute;
    left: 5%;
    border: none;
    background-color: rgba(0, 0, 0, 0.247);
    height: 1px;
    transition-duration: .4s;
}

.linha_destaque{
    width: 50%;
    position: absolute;
    left: 5%;
    border: none;
    background-color: black;
    height: 1px;
}


/* Configuração de estilo para aparelhos de tablet */

@media screen and (min-width: 700px) and  (max-width: 1100px){

    .imagem{
        top: 30%;
    }

    main{
        background-color: rgba(255, 255, 255, 0.137);
        width: 750px;
        height: 390px;

        padding: 10px;
    }

    main > .content button > a{
        color: white;
        text-decoration: none;
    }

    hr{
        left: 5%;
    }
}

/* Configuração de estilo para aparelhos de celular */

@media screen and (min-width: 290px) and  (max-width: 700px){

    .imagem{
        display: none;
    }

    .content{
        width: auto;
        height: auto;
    }

    main{
        width: 300px;
        height: 410px;

        padding: 10px;
    }

    main >  .content form #isenha, 
    main > .content form #iemail{
        width: 80%;
    }

    .linha_destaque{
        width: 90%;
    }
}
   